@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

html, body {
    height: 100% !important;
}

body {
    background-color: #FADABE !important;
}

header {
    height: 1100px;
    font-family: 'Julius Sans One', sans-serif;
    background: url("../img/bg.png") no-repeat center;
    background-size: cover;
    position: relative;
}

header h1 {
    font-size: 80px;
    color: whitesmoke;
}

footer {
    background-color: #191513;
    width: 100%;
    z-index: 10;
    height: 150px;
    position: relative;
}

footer p {
    color: white;
    padding: 5px;
}

footer a {
    color: antiquewhite;
}

main {
    min-height: calc(100% - 150px);
    padding-bottom: 100px;
    margin-left: 240px;
    width: calc(100% - 240px);
}

.overlay {

}

.overlay:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 300px;
    background: linear-gradient(to right top, #FADABE 50%, transparent 50%);
}

.top_line {
    min-height: 100px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 1px rgb(0, 0, 0);
    align-items: center;
}

.top_line button, .top_line button:hover, .top_line button:active {
    position: relative;
    top: 50%;
    background-color: #0d253b;
    border-color: #0d253b;
}

.text_button {
    background: none;
    color: #FADABE;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    text-decoration: underline rgb(242, 72, 44);
}

.menu {
    color: white;
    font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
    float: left;
    background: #1A2226;
    width: 240px;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 5;
    outline: none;
    display: flex;
    flex-direction: column;
}

.menu .avatar {
    background: rgba(0, 0, 0, 0.1);
    padding: 2em 0.5em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu .avatar img {
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #ffea92;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2);
    display: block;
    margin: 0 auto
}

.menu a {
    color: white;
}

.avatar {
    background: rgba(0, 0, 0, 0.1);
    padding: 2em 0.5em;
    text-align: center;
}

.avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #ffea92;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2);
}

.menu-el {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 20px;
    font-size: 30px;
}

.error_text {
    color: red;
}

.profile_field label {
    font-size: 10px;
    color: #6C6C6C;
    font-weight: bold;
    letter-spacing: 1px;
}


.request_info {
    color: whitesmoke;
    background-color: #6C6C6C;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    min-height: 60px;
}

.request_info button {
    position: relative;
    right: 10px;
    top: 10px;
    max-height: 40px;
    margin-left: 10px;
}


#form-width {
    width: 900px;
}

@media (max-width: 900px) {
    #form-width {
        width: auto;
    }
}

