@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

form {
    display: flex;
    flex-direction: column;
}

.login-box {
    margin-top: 10px;
    height: auto;
    background: #1A2226;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.login-key {
    height: 100px;
    font-size: 80px;
    line-height: 100px;
    background: -webkit-linear-gradient(#27EF9F, #F2482C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.login-title {
    margin-top: 60px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: bold;
    color: #ECF0F5;
}

.login-form {
    margin-top: 25px;
    text-align: left;
}

input[readonly] {
    background-color: #1A2226 !important;
    border: none !important;
    border-bottom: 2px solid #F2482C !important;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    margin-bottom: 20px;
    padding-left: 0px;
    color: #ECF0F5 !important;
}

input[type=text] {
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #F2482C;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    margin-bottom: 20px;
    padding-left: 0px;
    color: #ECF0F5;
}

input[type=email] {
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #F2482C;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    margin-bottom: 20px;
    padding-left: 0px;
    color: #ECF0F5;
}

input[type=password] {
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #F2482C;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    padding-left: 0px;
    margin-bottom: 20px;
    color: #ECF0F5;
}

.form-group {
    margin-bottom: 20px;
    outline: 0px;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 2px solid #F2482C;
    outline: 0;
    background-color: #1A2226;
    color: #ECF0F5;
}
input:focus {
    outline: none;
    box-shadow: 0 0 0;
}

label {
    margin-bottom: 0px;
}

.form-control-label {
    font-size: 10px;
    color: #6C6C6C;
    font-weight: bold;
    letter-spacing: 1px;
}

.btn-outline-primary {
    border-color: #F2482C;
    color: #F2482C;
    border-radius: 0px;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btn-outline-primary:hover {
    background-color: #F2482C;
    border-color: #F2482C;
    right: 0px;
}

.login-btm {
    float: left;
}

.login-button {
    padding-right: 0px;
    text-align: right;
    margin-bottom: 25px;
}

.login-text {
    text-align: left;
    padding-left: 0px;
    color: #A2A4A4;
}

.loginbttm {
    padding: 0px;
}

header {
    height: 1100px;
    font-family: 'Julius Sans One', sans-serif;
    background:url("../img/bg.png") no-repeat center;
    background-size: cover;
    position: relative;
}

header h1 {
    font-size: 80px;
    color: whitesmoke;
}

footer {
    margin-top: 100px;
    background-color: rgba(0, 0, 0, .9);
    position: relative;
	bottom: 0;
	width: 100%;
	height: 150px;
}

.overlay {

}

.overlay:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 300px;
    background: linear-gradient(to right top, #FADABE 50%, transparent 50%);
}

.top_line {
    min-height: 100px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 1px rgb(0, 0, 0);
    align-items: center;
}

.top_line button {
    position: relative;
    top: 15px;
    align-content: center;
}

.text_button {
    background:none;
    color: #FADABE;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    text-decoration: underline rgb(242, 72, 44);
}