{% extends 'patterns/base.html' %}

{% block style %}
    <style>
        body {
            background-color: #FADABE;
        }
    </style>
{% endblock %}

{% block content %}

    {% load static %}

    {% include 'patterns/sidebar.html' %}

    <div class="container">
        {% if not requests %}
            <div class="lead">
                <p>Нет запросов на регистрацию организации</p>
            </div>
        {% endif %}
        {% for org in requests %}
            <div class="row">
                <div class="col-md-1">
                    {{ org.name }}
                </div>
                <div class="col-md-8">
                    <button type="button" class="btn btn-success">Принять</button>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
