{% extends 'patterns/base.html' %}

{% block content %}

    {% load static %}

    {% include 'patterns/sidebar.html' %}

    {% if not requests %}
        <div class="lead">
            <p>Нет запросов на регистрацию организации</p>
        </div>
    {% endif %}

    <div class="container mx-auto" style="overflow: auto; margin-left: 240px; width: calc(100% - 240px)">
        {% for org in requests %}
            <div class="row request_info mt-2 py-2">
                <div class="col-md-2">
                    {{ org.name }}
                </div>
                <div class="col-md-6">
                    {% lorem 1 %}
                </div>
                <button class="btn btn-success">Принять</button>
                <button class="btn btn-danger">Отклонить</button>
            </div>
        {% endfor %}
    </div>
{% endblock %}
