{% extends 'patterns/base.html' %}

{% block title %} Welcome to vizitcard {% endblock %}

{% block content %}

    {% include 'patterns/header.html' %}

    <div class="container">
        <div class="row">
            <div class="text">
                {% lorem 3 %}
            </div>
        </div>
    </div>

    {% include 'register.html' %}

{% endblock %}

{% block scripts %}
    <script>
        function swap_to_log() {
            document.getElementById('swap_to_log').addEventListener('click', function foo() {
                $('#reg_form').replaceWith(`{% include 'login.html' %}`);
                login_listener();
                swap_to_reg();
            });
        }

        function swap_to_reg() {
            document.getElementById('swap_to_reg').addEventListener('click', function foo() {
                $('#log_form').replaceWith(`{% include 'register.html' %}`);
                register_listener();
                swap_to_log();
            });
        }

        swap_to_log();

        function register_listener() {
            $("#register_button").on("click", function () {
                let formData = new FormData(document.getElementById('registration_form'));
                $.ajax({
                    url: '/register',
                    data: formData,
                    type: 'POST',
                    processData: false,
                    contentType: false,
                    success: function () {
                        document.getElementById('swap_to_log').click();
                    },
                    error: function (data) {
                        let arr = ['username', 'password', 'email', 'confirm'];
                        data = data['responseJSON'];
                        console.log(data);
                        arr.forEach((el) => {
                            let error_str = '';
                            data[el].forEach((e) => {
                                error_str += e + ' | ';
                            });
                            $('#' + el + '_error').text(error_str.slice(0, Math.max(0, error_str.length - 2)));
                        });
                    }
                });
            });
        }

        function login_listener() {
            $("#login_button").on("click", function () {
                let formData = new FormData(document.getElementById('login_form'));
                $.ajax({
                    url: '/login',
                    data: formData,
                    type: 'POST',
                    processData: false,
                    contentType: false,
                    success: function () {
                        window.location.reload(false);
                    },
                    error: function (data) {
                        console.log(data);
                        $('#login_error').text(data['responseJSON']);
                    }
                });
            });
        }

        $('#fast_login').on('click', () => {
            try {
                document.getElementById('swap_to_log').click();
            }
            catch (e) {

            }
            location.hash = "#log_form";
        });

        $('#fast_reg').on('click', () => {
            try {
                document.getElementById('swap_to_reg').click();
            }
            catch (e) {

            }
            location.hash = "#reg_form";
        });

        register_listener()
    </script>
{% endblock %}