{% extends 'patterns/base.html' %}

{% block title %} Welcome to vizitcard {% endblock %}

{% block style %}
    <style>
        body {
            background-color: #FADABE;
        }
        html, body {
            min-height: 100% !important;
        }
    </style>
{% endblock %}

{% block content %}

   <div class="container">
        <div class="row">
            <div class="text">
                {% lorem 3 %}
            </div>
        </div>
   </div>

    {% include 'register.html' %}

{% endblock %}

{% block scripts %}
    <script>

    </script>
{% endblock %}