{% extends 'patterns/base.html' %}

{% block title %} Welcome to vizitcard {% endblock %}

{% block style %}
    <style>
        main {
            width: 100%;
            margin-left: 0;
        }
    </style>
{% endblock %}

{% block content %}

    {% include 'patterns/header.html' %}

    <div class="container">
        <div class="text-justify">
            <div class="row">
                <h3>VIZITCARD - сервис для создания виртуальных визиток.</h3>
            </div>
            <hr>
            <div class="row">
                С помощтю этого сервиса можно удобно обмениваться контактами и создавать страницы-визитки, прикреплять к ним необходимую информацию и файлы
            </div>
            <div class="row">
                Просто оставляйте ссылку или QR-код со ссылкой и любой сможет получить доступ к вашей карточке
            </div>
        </div>
    </div>

    {% include 'register.html' %}

{% endblock %}

{% block scripts %}
    <script>
        function swap_to_log() {
            document.getElementById('swap_to_log').addEventListener('click', function foo() {
                $('#reg_form').replaceWith(`{% include 'login.html' %}`);
                login_listener();
                swap_to_reg();
            });
        }

        function swap_to_reg() {
            document.getElementById('swap_to_reg').addEventListener('click', function foo() {
                $('#log_form').replaceWith(`{% include 'register.html' %}`);
                register_listener();
                swap_to_log();
            });
        }

        function register_listener() {
            $("#register_button").on("click", function () {
                let formData = new FormData(document.getElementById('registration_form'));
                $.ajax({
                    url: '/register',
                    data: formData,
                    type: 'POST',
                    processData: false,
                    contentType: false,
                    success: function () {
                        document.getElementById('swap_to_log').click();
                    },
                    error: function (data) {
                        let arr = ['username', 'password', 'email', 'confirm'];
                        data = data['responseJSON'];
                        arr.forEach((el) => {
                            let error_str = '';
                            data[el].forEach((e) => {
                                error_str += e + ' | ';
                            });
                            $('#' + el + '_error').text(error_str.slice(0, Math.max(0, error_str.length - 2)));
                        });
                    }
                });
            });
        }

        function login_listener() {
            $("#login_button").on("click", function () {
                let formData = new FormData(document.getElementById('login_form'));
                $.ajax({
                    url: '/login',
                    data: formData,
                    type: 'POST',
                    processData: false,
                    contentType: false,
                    success: function () {
                        window.scrollTo(0, 0);
                        window.location.reload(false);
                    },
                    error: function (data) {
                        let err = document.getElementById('login_error');
                        if (data['responseJSON'] === 'Неправильное имя пользователя или пароль') {
                            err.innerText = data['responseJSON'];
                            return;
                        }

                        err.innerHTML = data['responseJSON'] + '. Нажмите <a id="send" style="color:blue">здесь</a>, чтобы еще раз получить письмо для активации';

                        $('#send').on('click', ()=> {
                            let data = {username: formData.get('username')};
                            console.log(data);
                            $.ajax({
                                url: '/send_activation_mail',
                                data: data,
                                type: 'POST',
                                success: function () {
                                    window.location.reload(false);
                                },
                            });
                        });
                    }
                });
            });
        }

        $('#fast_login').on('click', () => {
            try {
                document.getElementById('swap_to_log').click();
            }
            catch (e) {

            }
            location.hash = "#log_form";
        });

        $('#fast_reg').on('click', () => {
            try {
                document.getElementById('swap_to_reg').click();
            }
            catch (e) {

            }
            location.hash = "#reg_form";
        });

        window.onload = () => {
            swap_to_log();
            register_listener();
            if (location.hash === '#log_form') {
                console.log('b');
                document.getElementById('swap_to_log').click();
            }
        };
    </script>
{% endblock %}