{% extends 'patterns/base.html' %}

{% block style %}
    <style>
        body {
            background-color: #FADABE;
        }
    </style>
{% endblock %}

{% block content %}

    {% load static %}

    {% include 'patterns/sidebar.html' %}

    <div class="container">
        {% if worker and worker.organization %}
            {% if worker.organization.creator == user %}
                <div class="row mx-auto lead">
                    <p class="text-justify">Вы являетесь создателем организации {{ woker.organization.name }}!</p>
                </div>
            {% else %}
                <div class="row mx-auto lead">
                    <p class="text-justify">Вы состоите в организации {{ woker.organization.name }}!</p>
                </div>
            {% endif %}
        {% else %}
            <div>
                <form id="enter_org_form" style="margin-left: 240px; width: calc(100% - 240px)" class="form-horizontal">
                    {% csrf_token %}
                    <div class="d-flex mx-auto" style="flex-direction: column">
                        <div class="mx-auto lead">
                            <p class="text-justify">Вы еще не состоите в организации, но можете втсупить в существующую
                                по ключу-приглашению, введя его в поле ниже или заполнить специальную форму регистрации
                                своей организации на сайте</p>
                        </div>
                        <div class="container">
                            <div class="form-group" style="max-width: 300px">
                                <label for="code">Код входа в организацию</label>
                                <div class="d-flex">
                                <input type="text" name="code" class="form-control" id="code" placeholder="Код"
                                       required>
                                <button type="button" id="enter" class="btn btn-primary my-auto ml-2"
                                        style="min-width: 200px">Войти в организацию
                                </button>
                            </div>
                                <p class="text-danger" id="org_error" style="height: 10px"></p>
                            </div>

                        </div>
                    </div>
                </form>

                <form id="create_organization" style="margin-left: 240px; width: calc(100% - 240px); margin-top: 50px">
                    {% csrf_token %}
                    <div class="d-flex mx-auto" style="flex-direction: column">
                        <div class="mx-auto lead">
                            <p class="text-justify">Вы можете заполнить форму о регистрации Вашей организации, используя
                                форму ниже. Модератор рассмотрит заявку и свяжется с Вами</p>
                        </div>
                        <div class="container">
                            <div class="form-group">
                                <label for="name">Название организации</label>
                                <input type="text" class="form-control" id="name" placeholder="Суперкалькулятор-3000">
                            </div>
                            <div class="form-group">
                                <label for="description">О себе</label>
                                <textarea name="description" class="form-control" id="description" rows="3"
                                          placeholder="Выпускаем лучшие калькуляторы в России. Главный офиис в Москве"></textarea>
                            </div>
                            <button type="button" class="btn btn-primary">Отправить заявку</button>
                        </div>
                    </div>
                </form>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $("#enter").on("click", function () {
            let formData = new FormData(document.getElementById('enter_org_form'));
            $.ajax({
                url: '/enter_organization',
                data: formData,
                type: 'POST',
                processData: false,
                contentType: false,
                success: function () {
                    window.location.reload(false);
                },
                error: function (data) {
                    $('#org_error').text(data['responseJSON']);
                }
            });
        });
    </script>
{% endblock %}