{% extends 'patterns/base.html' %}

{% block content %}

    {% load static %}

    {% include 'patterns/sidebar.html' %}

    <div class="container" id="form-width-2">
        {% if worker and worker.org %}
            {% if worker.org.creator == user %}
                <div class="lead" style="text-align: center; display: inline-block">
                    <p style="display: inline-block">Вы являетесь создателем организации &nbsp;</p>
                    <p style="display: inline-block" class="font-weight-bold">{{ worker.org.name }}</p>
                    <p style="display: inline-block">!</p>
                </div>
                {% if not worker.org.activated %}
                    <div style="display: inline-block; text-align: center">
                        <div class="text" style="display: inline-block">
                            <p class="text-justify">Ваша заявка отправлена и в скором времени будет рассмотрена
                                модератором. Вы можете</p>
                        </div>
                        <form id="delete_request_form" style="display: inline-block">
                            {% csrf_token %}
                            <input type="text" name="id" value="{{ worker.org.id }}" hidden>
                            <button type="button" id="delete_request" class="btn btn-danger"
                                    style="display: inline-block">удалить
                            </button>
                        </form>
                        <div class="text" style="display: inline-block">
                            <p class="text-justify">заявку</p>
                        </div>
                    </div>
                {% else %}
                    <div class="row py-4">
                        <div class="col-4">
                            <h6 id="enter_code">Код входа в организацию: <b>{{ code.token }}</b></h6>
                        </div>
                        <div class="col-8">
                            <form id="csrf">{% csrf_token %}</form>
                            <button type="button" class="btn btn-primary" id="new_code">Сгенерировать новый</button>
                        </div>
                    </div>
                {% endif %}
            {% else %}
                {% comment %}
                <div class="lead" style="text-align: center; display: inline-block">
                    <p style="display: inline-block" class="text-justify">Вы состоите в организации</p>
                    <p style="display: inline-block" class="font-weight-bold">{{ worker.org.name }}</p>
                    <p style="display: inline-block">!</p>
                </div>
                {% endcomment %}
            {% endif %}
            {% include 'patterns/show_org.html' %}

            <form id="leave_organization_form" method="post" style="overflow:auto; position: relative; bottom: 0">
                {% csrf_token %}
                <button type="button" class="btn btn-danger" id="leave_organization">Покинуть организицию</button>
            </form>
        {% else %}
            <div style="text-align: left">
                <form id="enter_org_form" class="form-horizontal">
                    {% csrf_token %}
                    <div class="d-flex mx-auto" style="flex-direction: column">
                        <div class="mx-auto lead">
                            <p class="text-justify">Вы еще не состоите в организации, но можете втсупить в существующую
                                по ключу-приглашению, введя его в поле ниже или заполнить специальную форму регистрации
                                своей организации на сайте</p>
                        </div>
                        <div class="container">
                            <div class="form-group" style="max-width: 300px">
                                <label for="code">Код входа в организацию</label>
                                <div class="d-flex">
                                    <input type="text" name="code" class="form-control" id="code" placeholder="Код"
                                           required>
                                    <button type="button" id="enter" class="btn btn-primary my-auto ml-2"
                                            style="min-width: 200px">Войти в организацию
                                    </button>
                                </div>
                                <p class="text-danger" id="org_error" style="height: 10px"></p>
                            </div>

                        </div>
                    </div>
                </form>

                <form id="create_organization">
                    {% csrf_token %}
                    <div class="d-flex mx-auto" style="flex-direction: column">
                        <div class="mx-auto lead">
                            <p class="text-justify">Вы можете оставить заявку на регистрацию Вашей организации,
                                используя
                                форму ниже. Модератор рассмотрит заявку и свяжется с Вами</p>
                        </div>
                        <div class="container">
                            <div class="form-group">
                                <label for="name">Название организации</label>
                                <input type="text" class="form-control" id="name" name="name"
                                       placeholder="Суперкалькулятор-3000">
                            </div>
                            <div class="form-group">
                                <label for="description">Описание</label>
                                <textarea name="description" class="form-control" id="description" rows="3"
                                          placeholder="Выпускаем лучшие калькуляторы в России. Главный офис в Москве"></textarea>
                            </div>
                            <button type="button" id="create_organization_button" class="btn btn-primary">Отправить
                                заявку
                            </button>
                            <p class="text-danger" id="create_org_error" style="height: 10px"></p>
                        </div>
                    </div>
                </form>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $("#enter").on("click", function () {
            let formData = new FormData(document.getElementById('enter_org_form'));
            $.ajax({
                url: '/enter_organization',
                data: formData,
                type: 'POST',
                processData: false,
                contentType: false,
                success: function () {
                    window.location.reload(false);
                },
                error: function (data) {
                    $('#org_error').text(data['responseJSON']);
                }
            });
        });

        $("#create_organization_button").on("click", function () {
            let formData = new FormData(document.getElementById('create_organization'));
            $.ajax({
                url: '/request_create_organization',
                data: formData,
                type: 'POST',
                processData: false,
                contentType: false,
                success: function () {
                    window.location.reload(false);
                },
                error: function (data) {
                    $('#create_org_error').text(data['responseJSON']);
                }
            });
        });

        $("#delete_request").on("click", function () {
            let formData = new FormData(document.getElementById('delete_request_form'));
            formData.set('id', {{ worker.org.id }});
            $.ajax({
                url: '/delete_organization',
                data: formData,
                type: 'POST',
                processData: false,
                contentType: false,
                success: function () {
                    window.location.reload(false);
                },
            });
        });

        $('.delete_user').each(function (i, obj) {
            obj.addEventListener('click', () => {
                let formData = new FormData(obj.parentElement);
                $.ajax({
                    url: '/delete_user_from_organization',
                    data: formData,
                    type: 'POST',
                    processData: false,
                    contentType: false,
                    success: function () {
                        window.location.reload(false);
                    }
                });
            });
        });

        $('.change_position').each(function (i, obj) {
            obj.addEventListener('click', () => {
                let formData = new FormData(obj.parentElement);
                $.ajax({
                    url: '/new_position',
                    data: formData,
                    type: 'POST',
                    processData: false,
                    contentType: false,
                    success: function () {
                        window.location.reload(false);
                    }
                });
            });
        });

        $('#leave_organization').on('click', () => {
            let formData = new FormData(document.getElementById('leave_organization_form'));
            $.ajax({
                url: '/leave_organization',
                data: formData,
                type: 'POST',
                processData: false,
                contentType: false,
                success: function () {
                    window.location.reload(false);
                }
            });
        });

        $('#new_code').on('click', () => {
            let formData = new FormData(document.getElementById('csrf'));
            formData.set('id', {{ worker.org.id }});
            $.ajax({
                url: '/new_code',
                data: formData,
                type: 'post',
                processData: false,
                contentType: false,
                success: function (data) {
                    $('#enter_code').html('Код входа в организацию: <b>' + data['code'] + '</b>');
                }
            });
        });
    </script>
{% endblock %}