<div id="reg_form" class="container" style="margin-top: 100px">
    <div class="row">
        <div class="col-lg-3 col-md-2"></div>
        <div class="col-lg-6 col-md-8 login-box" style="box-shadow: 0 0 30px rgba(242, 72, 44, 0.75)">
            <div class="col-lg-12 login-title">
                Регистрация!
            </div>
            <div class="login-text" style="margin-right: 10%; margin-left: 10%; margin-top:3%"> Введите существующую
                почту, свой ник и придумайте пароль
            </div>
            <div class="col-lg-12 login-form">
                <div class="col-lg-12 login-form">
                    <form action="register" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="form-control-label">НИКНЕЙМ</label>
                            <input name="username" type="text" id="username" class="form-control">
                        </div>

                        <div class="form-group">
                            <label class="form-control-label">EMAIL</label>
                            <input name="email" type="email" class="form-control" id="email">
                        </div>

                        <div class="form-group">
                            <label class="form-control-label">ПАРОЛЬ</label>
                            <input name="password" type="password" class="form-control" id="password">
                        </div>

                         <div class="form-group">
                            <label class="form-control-label">ПОДТВЕРДИТЕ ПАРОЛЬ</label>
                            <input name="confirm_password" type="password" class="form-control" id="confirm_password">
                        </div>

                        <div style="margin-left: 30px;">
                            <div class="col-lg-12 loginbttm">
                                <div class="col-lg-6 login-btm login-text"></div>
                                <div class="col-lg-6 login-btm login-button">
                                    <button class="btn btn-outline-primary" id="reg" type="submit">Создать аккаунт</button>
                                </div>
                            </div>
                            <div style="color: #FADABE">
                                <p>Уже есть аккаунт? <button class="text_button" id="swap_to_log" type="button"><u>Войти</u></button></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-3 col-md-2"></div>
        </div>
    </div>
</div>